{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-var": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "id-length": [2, {"min": 3, "max": 20, "properties": "never", "exceptions": ["r", "_"]}],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/sort-comp": [1, {
      "order": [
        "constructor",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }]
  },
  "plugins": [
    "react"
  ]
}
