/** basic page setup **/
@page {
  size: 8.2677in 11.6929in; /* width height */
  size: 210mm 297mm; /* width height */
  size: A4;
  margin-top: 0.625in;
  margin-right: 0.625in;
  margin-bottom: 1.2405in;
  margin-left: 0.625in;
  orphans: 2;
  widows: 2;
}

/** some basic typography **/
@gentonaStack: "Gentona Book", GentonaBook, "Gentona", "Helvetica Neue", Helvetica, Arial, sans-serif;
@arnhemStack:  "Arnhem Pro", ArnhemPro, Georgia, serif;
@leagueStack: "League Gothic", LeagueGothic, sans-serif;

html {
  margin: 0;
  font: 8pt/1.2 @gentonaStack;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1rem;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @gentonaStack;
  margin: 0;
  page-break-after: avoid;
  font-weight: bold;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

postertitle, title, day, sessioncode, sessionname, sessiontime, sessionroom, poster-session, presentation, poster, panel, columns, timeslot, authors, description, sessionDescription, moderator, sessionmoderator {
  display: block;
}

/** style some headlines **/
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  /****/
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  -moz-column-span: all; /* Firefox */
  column-span: all;
}

h2,h3,h4,h5,h6,
postertitle, title {
  font-size: 1rem;
  font-weight: bold;
}

day > h2,
poster-session sessionname {
  font-family: @leagueStack;
  font-size: 3rem;
  font-weight: 400;
}





/** style main poster session times **/
.poster-session,
poster-session,
day,
timeslot {
  margin-top:1.0833in;
  margin-bottom:1.0833in;
  page-break-before: always;
}

h2 + timeslot {
  margin-top: 0;
}

poster-session .columns,
poster-session columns {
  margin-top: 1.2rem;
}

.columns, columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 1.5rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 1.5rem; /* Firefox */
  column-gap: 1.5rem;
}

.time,
sessiontime,
timeslot > h3 {
  font-size: 2rem;
  font-weight: 100;
  color: rgba(131,48,94,1);
}

timeslot > h3 {
  margin-bottom: 2rem;
}

.location,
poster-session sessionroom {
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2.4;
  margin-bottom: 4rem;
}

/** main poster block settings **/
.poster, poster,
.presentation, presentation,
.panel, panel {
  border-top: 1pt solid black;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  /**/
  page-break-after: auto;
  page-break-inside:avoid;
}

sessioncode, sessionname, sessionroom, moderator, postertitle, author {
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
}
/** id and title **/
.posterID, sessionCode {
  margin: 0 0 0 -4rem;
  font-weight: 100;
  float: left;
}


/** Presentation/Panel settings **/
panel poster,
presentation poster {
  border-top: none;
  padding: .5rem 0 0 1rem;
  font-family: @arnhemStack;
}

panel poster::before,
presentation poster::before {
  content: "- ";
  display: block;
  margin-left: -1rem;
  float: left;
}


/** style author names **/
poster .presenter,
poster presenter {
  font-weight: 300;
  font-style: italic;
  display: block;
}

poster presenter::before {
  content: 'Presenter: ';
  font-size: .85rem;
  font-weight: normal;
  text-transform: uppercase;
}

.author, author, moderator {
  display: inline;
}

authors, author, moderator {
  font-weight: 300;
  word-wrap: normal;
}

author::after, moderator::after {
  content: "; ";
  display: inline;
  margin-right: .225em;
  word-wrap: normal;
}

author:last-child::after, moderator:last-child::after {
  content: "";
  display: inline;
  margin-right: 0;
  word-wrap: normal;
}

poster author:first-of-type::before {
  content: "Co-Author(s): ";
}

moderator:first-of-type::before {
  content: "Moderator(s): ";
}

presentation .meta-data sessionroom::before {
  content: 'Location: ';
}

moderator:first-of-type::before,
presentation .meta-data sessionroom::before {
  display: inline-block;
  margin-top: .5em;
  padding-right: .3em;
}

poster author:first-of-type::before,
moderator:first-of-type::before,
presentation .meta-data sessionroom::before {
  font-size: .85rem;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: normal;
}


/** presentation / abstract / panel additions **/
panel sessionname,
presentation sessionname {
  font-weight: bold;
}

presentation .session-type {
  display: none;
}

presentation::after {
  content: '';
  display: table;
  clear: both;
}


/** At A Glance Additions */
ataglance { display: block; }

ataglance sessioncode { float: none; margin: 0; padding: 0;}

ataglance .sessions-list,
ataglance .presentation {
  padding-left: 0;
}



description * {
  margin-top: 0;
  margin-bottom: 0;
}

description p:nth-child(2n+1) {
  margin-top: .5em;
}
