
/** some basic typography **/
html {
  margin: 0;
  font: 10pt/1.2 "Gentona Book", GentonaBook, "Gentona", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  background: red;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gentona Book", GentonaBook, "Gentona", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em 0 0.5em 0;
  page-break-after: avoid;
  font-weight: bold;
}
/** style author names **/
.presenter {
  font-size: 1.1em;
  font-style: italic;
}
.company {
  color: gray;
}
